<form method="post" action="/registerComplaint">
    <h2>REGISTER A COMPLAINT</h2>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name" >
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Contact Number</label>
        <input class="form-control" type="text" name="contact" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" name="desc" cols="30" rows="10" placeholder="Enter the Description"></textarea>
    </div>
    
    <button style="background-color: #24252A;color:white;border-radius:px;" class="btn-sm" type="submit">Submit Complaint</button>
    <br>
    <br>
    Wanna change your mind?  <button style="background-color: #24252A;color:white;border-radius:px;margin-left:2%" class="btn-sm" type="submit"><a style="color: white;" href="/">Back</a></button>
    <br>
    <br>
</form>