<h3>Welcome <b>{{user.username}}</b> </h3>
<br>

<table class="table table-bordered" style="color:rgb(0, 0, 0)">
  <thead style="background-color:#8fdad6;">
  <tr>
    <h4>User Detail</h4>
    
  </tr>
  <tr>
    <td>Name :</td>
    <td><b>{{user.name}}</b></td>
  </tr>
  <tr>
    <td>Role :</td>
    <td><b>{{user.role}}</b></td>
  </tr>
  <tr>
    <td>Email : </td>
    <td><b>{{user.email}}</b></td>
  </tr>

</thead>
  
    </table>
<br>
<button style="background-color: #24252A;color:white;border-radius:px;" class="btn-lg"><a style="color: white;"  href="/complaint">REGISTER A COMPLAINT</a></button>